* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

h2.logo {
    line-height: 50px;
    padding-left: 20px;
    color: white;
}

html {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #06d6a0;
    position:  relative;
    height: 50px;
}

nav {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 50px;
}

nav > a {
    margin: 3px;
}

main {
    max-width: 1000px;
}

#home {
    background-color: #26547c;
}

#cats {
    background-color: #ffd166;
}

#products {
    background-color: #f2f2f2;}

#about {
    background-color: #26547c;
}
